@import url('https://fonts.googleapis.com/css?family=Bad+Script|Ubuntu+Condensed');
body, html{
    margin: 0;
    padding: 0;
}
.nav li {
    color: white;
}
.nav li:hover {
    background-color: #848080;
    text-decoration: none;
    color: white;
}
.nav a{
    color: white;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover{
    color: #ff9933;
    background-color: inherit;
}
.navbar{
    transition: background-color 0.3s;
    transition: font-size 0.2s;
    background-color: transparent;
    border: 0;
    font-variant: small-caps;
    font-size: 4.5vmin;
}

#home{
    background-image: url(../img/bg.jpeg);
    -webkit-background-size: 50%;
    background-size: 51%;
    text-align: center;  
}
.navbar-scrolled{
    transition: background-color 0.3s;
    background-color: #333 !important;
}
.navbar-scrolled {
    transition: font-size 0.2s;
    font-size: 3.5vmin;
  }
.parent {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9933;
  text-align: center;
  padding: 10% 0 10% 0;
}

.author-name, .header{
  font-size: 7vmin;
}

.author-name{
    font-family: 'Bad Script', cursive;
}
.header{
    font-variant: small-caps;
    font-family: 'Ubuntu Condensed', cursive;
    text-align: center;
}
hr {
width: 50%;
height: 3px;
background-color:#ff9933;
border: 0 none;
}
.btn1, .btn1:visited, .btn1:active, .btn1:link {
    border: 2px solid #ff9933;
    color: #ff9933;
    padding: 3px;
    text-decoration: none;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Ubuntu Condensed', cursive;
}
.btn1:hover{
    background-color: #ff9933;
    text-decoration: none;
    color: #191919;
}

.btn1{
  font-size: 5.5vmin;
}
#about{
    background-color: #f93;
    color: #fff;
    padding-top: 10%;
    padding-bottom: 10%;
}
.go-top{
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 3em;
  border: 2px solid #515151;
  border-radius: 10%;
  display: none;
}
#about .header{
  color: white;
}
#about hr{
  background-color: #fff;
  width: 25%;
}
.text{
  font-family: 'Ubuntu Condensed', cursive;
  font-size: 3.5vmin;
}

.me{
  width: 45%;
  margin-bottom: 5%;
}
.row{
  width: 70%;
}
#services{
  background-color: #333;
}
#contact{
  background-color: #f93;
  color: white;
}
#contact hr{
  background-color: #fff;
}
#footer{
  background-color: #333;
min-height: 5vh;
  color: #f93;
  padding-top: 2vh
}
#footer p{
  position: relative;
}
.circle{
  border-radius: 50%;
  min-width: 15vw;
  background-color: #fff;
  display: inline-block;
  font-variant: small-caps;
  margin-bottom: 2vw;
  font-family: 'Ubuntu Condensed', cursive;
  font-size: 3.5vmin;
}
.circle-parent{
  width: 20vw;
  display: inline-block;
  margin-right: 2vw;
  vertical-align: top;
  font-family: 'Ubuntu Condensed', cursive;
  margin-bottom: 10vw;
}

.circle img{
  width: 50%;
  padding-top: 10%;
  padding-bottom: 2vw;
}
@media screen and (max-width: 768px) {
  .circle-parent{
    width: 70%;
  }
}
#footer img{
  margin-left: 1vmin;
  margin-bottom: 0.5vw;
  width: 5vmin;
}
.contact{
  padding: 0 !important; 
}
